
body{
  border-radius: 4px;
  text-align: center;
  color: antiquewhite;
  background-color: rgb(202, 212, 214);
  font-size: 15px;
  margin: auto;
  
}
#special{
  color:black;
  font-weight: bold;
  text-align: center;
}
P{
  color: black;
  margin: 4px;
  font-size: small;
   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
img{
  border-radius: 10px;
  margin: auto;
}